body {
    font-family: Arial, sans-serif;
    margin: 20px;
    max-width: 960px;
  }
  
  .indent {
    margin-left: 20px;
  }
  
  button {
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  input[type=text], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  